<?xml version="1.0" encoding="utf-8"?>
<!-- 微抓配置文件 create by dragon 2012-03-28 -->
<grabber>
	<userAgent>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11</userAgent>
	<items>
		<!-- "妹子图"网的抓取配置 -->
		<item id="meizitu_main">
			<name>妹子图-首页</name>
			<type>Single</type>
			<dir>ooxx</dir>
			<url>http://jandan.net/ooxx</url>
			<selected>true</selected>
			<selector>ol.commentlist>li>p>img,div.acv_comment>img</selector>
		</item>
		<item id="meizitu_allPage">
			<name>妹子图-所有页</name>
			<type>Multi</type>
			<dir>ooxx</dir>
			<url>http://jandan.net/ooxx</url>
			<selector>ol.commentlist>li>p>img</selector>
			<deep>true</deep>
			<pagingUrl>{url}/page-{page}</pagingUrl>
			<pagingSelector>span.current-comment-page</pagingSelector>
			<pagingRegx>\[{page}\]</pagingRegx>
		</item>
		<item id="meinvmen_main">
			<name>美女门-首页</name>
			<type>Single</type>
			<dir>美女门</dir>
			<url>http://www.mmeinv.com</url>
			<selected>true</selected>
			<selector>div#SlidePlayer>ul.Slides>li>a>img,div.content>ul>li>a>img</selector>
		</item>
		
		<!-- "美女门"网某个相册的抓取配置 -->
		<item id="meinvmen_vwanrou">
			<name>美女门-吕婉柔-魔鬼的身材</name>
			<type>Multi</type>
			<dir>美女门/吕婉柔</dir>
			<url>http://www.mmeinv.com/post/lvwanrou/3.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="meinvmen_wangqiuzi">
			<name>美女门-王秋紫-冬日里的女人</name>
			<type>Multi</type>
			<dir>美女门/王秋紫</dir>
			<url>http://www.mmeinv.com/post/wangqiuzi/8.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="meinvmen_liyingzhi">
			<name>美女门-李颖芝-淡如清水</name>
			<type>Multi</type>
			<dir>美女门/李颖芝</dir>
			<url>http://www.mmeinv.com/post/liyingzhi/86.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="meinvmen_jinmeixin">
			<name>美女门-金美辛-小性感</name>
			<type>Multi</type>
			<dir>美女门/金美辛</dir>
			<url>http://www.mmeinv.com/post/jinmeixin/191.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="meinvmen_jinmeixin2">
			<name>美女门-金美辛与王淼-朵两生花</name>
			<type>Multi</type>
			<dir>美女门/金美辛</dir>
			<url>http://www.mmeinv.com/post/jinmeixin/193.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="meinvmen_sunxinya">
			<name>美女门-孙心娅-这么近那么远</name>
			<type>Multi</type>
			<dir>美女门/金美辛</dir>
			<url>http://www.mmeinv.com/post/sunxinya/117.html</url>
			<selector>div.pic img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item>
		<item id="ppjpg_wanglihong">
			<name>帅哥网-王力宏-运动写真</name>
			<type>Multi</type>
			<dir>帅哥网/王力宏</dir>
			<url>http://www.ppjpg.com/gangtaishuaige/10.html</url>
			<selector>div#contents>img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>a</pagingSelector>
			<pagingRegx>共{page}页: </pagingRegx>
		</item>
		
		<!-- "美女门"网"今日美女拍行榜"导航的抓取配置
		<item id="nav01">
			<type>Nav</type>
			<name>美女门-今日美女排行榜</name>
			<dir>美女门/今日美女排行榜</dir>
			<url>http://www.mmeinv.com</url>
			<selector>div.content>ul>li>a</selector>
			<itemId>item4nav01</itemId>
		</item>
		<item id="item4nav01" nested="true">
			<type>Multi</type>
			<name>{title}</name>
			<dir>{parent}/{title}</dir>
			<url>{href}</url>
			<selector>div.pic>a>img</selector>
			<deep>true</deep>
			<pagingUrl>{urlName}_{page}.html</pagingUrl>
			<pagingSelector>ul.pagelist>li>a</pagingSelector>
			<pagingRegx>共{page}页</pagingRegx>
		</item> -->
	</items>
</grabber>